stages:
  - mirror
  - cleanup

mirror_to_github:
  stage: mirror
  image: alpine:latest
  before_script:
    - apk add --no-cache git
    - git config --global user.email "$GITHUB_EMAIL"
    - git config --global user.name "$GITHUB_USERNAME"
  script:
    - git remote add github https://$GITHUB_USERNAME:$GITHUB_TOKEN@github.com/AceRodnel14/subnet-scanner.git
    - git push github "$CI_COMMIT_BRANCH" --force
  only:
    - branches
  tags:
    - docker   # ensure this runs on a runner with git + access to docker (if needed)

docker_cleanup:
  stage: cleanup
  script:
    - echo "Cleaning up Docker unused data..."
    - sudo docker system prune -af --volumes
  tags:
    - shell        # must run on a host that has Docker and sudo
