stages:
  - mirror
  - cleanup

mirror_to_github:
  stage: mirror
  image: alpine:latest
  rules:
    - if: '$CI_COMMIT_MESSAGE =~ /^.SyncWithGitHub/'
      when: never
    - if: '$CI_COMMIT_BRANCH'
      when: on_success
    - when: never
  before_script:
    - apk add --no-cache git
    - git config --global user.email "$GITHUB_EMAIL"
    - git config --global user.name "$GITHUB_USERNAME"
  script:
    - git remote add github https://$GITHUB_USERNAME:$GITHUB_TOKEN@github.com/AceRodnel14/subnet-scanner.git
    - git checkout -B "$CI_COMMIT_REF_NAME"
    - ORIGINAL_MSG="$(git log -1 --pretty=%B)"
    - |
      if echo "$ORIGINAL_MSG" | grep -q "\[SyncWithGitHub\]"; then
        echo "Skipping push to GitHub because commit came from GitHub."
        exit 0
      fi
    - git commit --amend -m "[SyncWithGitLab] $ORIGINAL_MSG" --reset-author
    - git push github "$CI_COMMIT_REF_NAME" --force
  tags:
    - docker

docker_cleanup:
  stage: cleanup
  rules:
    - if: '$CI_COMMIT_MESSAGE =~ /^.SyncWithGitHub/'
      when: never
    - if: '$CI_COMMIT_BRANCH'
      when: on_success
    - when: never
  script:
    - echo "Cleaning up Docker unused data..."
    - docker system prune -af --volumes
  tags:
    - shell